################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OctagonTesting/obj
/.vs
/packages
/Octogon/obj/Debug
/OctogonCommon/obj/Debug
